.background-darkred{
    background-color: #ad0d15;
}

.background-lightgrey{
    background-color: #c9c9c9;
}

.hqs-container, .search-container{
    padding: 30px;
    overflow: hidden;
}

.hqs-texts{
    padding: 30px;
}